* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 20px;
}

.site-header {
  background-color: #161616;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.header__list {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 45px;
}

.item__link {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.header__buttens {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.buttens__link {
  max-width: 165px;
  background-color: #C75E90;
  color: #FFFFFF;
  border-radius: 220px;
  padding: 14px 48px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.header__burger-button {
  display: none;
}

@media screen and (max-width: 950px) {
  .header__list {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}
@media screen and (max-width: 888px) {
  .header__list {
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }
  .item__link {
    font-size: 12px;
    line-height: 20px;
  }
  .header__buttens {
    max-width: 220px;
  }
  .buttens__img {
    max-width: 80px;
  }
  .buttens__link {
    padding: 13px;
    max-width: 130px;
  }
}
@media screen and (max-width: 712px) {
  .buttens_item {
    max-width: 80px;
  }
  .buttens__link {
    padding: 11px;
    font-size: 9px;
    line-height: 15px;
  }
}
@media screen and (max-width: 600px) {
  .header__list {
    display: none;
  }
  .header__buttens {
    display: none;
  }
  .header__burger-button {
    display: block;
  }
}
.site-hero {
  background-color: #161616;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 18px;
}

.hero__subtitle {
  max-width: 412px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.36em;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #696969;
  margin-bottom: 28px;
}

.hero__title {
  color: #FFFFFF;
  max-width: 478px;
  font-size: 46px;
  font-weight: 700;
  line-height: 69px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-bottom: 28px;
}

.hero__text {
  color: #FFFFFF;
  max-width: 529px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-bottom: 28px;
}

.hero__buy-button {
  background-color: #C75E90;
  color: #FFFFFF;
  max-width: 203px;
  padding: 14px 40px;
  border-radius: 220px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-bottom: 28px;
}

.hero__watch-now {
  max-width: 337px;
  margin-top: 28px;
  background-image: url(/images/watchImg.png);
  padding: 50px 20px;
  background-repeat: no-repeat;
}

.watch-now__text {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.36em;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.watch-now__name {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.hero-right__img {
  max-width: -moz-max-content;
  max-width: max-content;
}

@media screen and (max-width: 700px) {
  .hero__inner {
    display: inline-block;
  }
  .hero-left {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */